.card {
    float: left;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 1px gray;
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 140px;
}
.card-inner {
    border-radius: 5px;
    padding: 10px;
    background: #009688;
    width: 100%;
    height: 100%;
}
.card-text {
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    vertical-align: center;
    color: white;
}

#messages {
    height: 150px;
    overflow: scroll;
}