<div class="jumbotron">
  <h2>Welcome to PlanningPoker</h2>
  <h3>Choose or create a room</h3>
</div>
<form class="form-horizontal" action="join" method="get">
  <div class="form-group">
    <label for="username">User name</label>
    <input type="text" class="form-control" id="username" name="user" placeholder="Batman">
  </div>
  <div class="form-group">
    <label for="existing-room-name">Existing Room</label>
    <select class="form-control" id="existing-room-name" name="old_room">
    <%= for room <- @rooms do %>
      <option><%= room %></option>
    <% end %>
    </select>
    <button type="submit" class="btn btn-default" name="action" value="join">Join</button>
  </div>
  <div class="form-group">
    <label for="new-room-name">New Room</label>
    <input type="text" class="form-control" id="new-room-name" name="new_room" placeholder="Storytime">
    <button type="submit" class="btn btn-default" name="action" value="create">Create new</button>
  </div>
</form>
