<div class="row">
  <div class="col-md-8">
    <div class="jumbotron">
      <h2>Welcome <%= @user %> to room <%= @room %></h2>
    </div>
  </div>
  <div class="col-md-4">
    <h3>Chat</h3>
    <div id="messages"></div>
    <input id="chat-input" type="text"></input>
  </div>
</div>
<div class="row">
  <%= for card <- @cards do %>
    <%= render PlanningPoker.PageView, "card.html", face: card %>
  <% end %>
  <button id="flip-button" class="btn btn-primary">Flip</button>
</div>
<script>
  window.user = '<%= @user %>';
  window.userToken = '<%= Phoenix.Token.sign(@conn, "user", @user) %>';
  window.room = '<%= @room %>';
</script>
